BasedOnStyle:    Google
IndentWidth:     4
ColumnLimit:     120
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: false
BreakBeforeBraces: Allman
ObjCSpaceAfterProperty: true
AlignTrailingComments: true
